.banner{
    height: 500px;background-color: #f5f5f5;
}
.banner .wrapper{
    position: relative;
    height: 500px;
    background-color: pink;
}
.banner .aside{
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .aside li{
    height: 50px;
    line-height: 50px;
}
.banner .aside a{
    position: relative;
    padding-left: 35px;
    padding-right: 19px;
    display: block;
    height: 50px;
    color: #fff;
}
.banner .aside a span{
    font-size: 14px;
    margin-left: 15px;
}
.aside a:hover{
background-color: #27ba9b;
}
.banner .aside a::after{
    position: absolute;
    right: 19px;
    top:19px;
    content: '';
    width: 6px;
    height: 11px;
    /* background-color: green; */
    background-image: url(../images/sprites.png);
    background-position:-80px -110px;
}
.prev,.next{
    position: absolute;
    top: 228px;
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    background-image: url(../images/sprites.png);
}
.banner .prev{
    background-position: 14px -60px;
    left: 260px;
}
.banner .next{
    background-position: -23px -60px;
    right: 10px;
}
.banner ol{
    position: absolute;
    left: 680px;
    bottom: 30px;
    height: 10px;
    /* background-color: pink; */
}
.banner ol li{
    float: left;
    width: 10px;
    height: 10px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 50%;
    margin-right: 24px;
    cursor: pointer;
}
.banner ol .current{
    background-color: #fff;
}
.goods .hd{
    height: 114px;
    background-color: #fff;
    line-height: 114px;
}
.goods .hd h2{
    float: left;
    font-size: 29px;
    font-weight: 400;
    height: 114px;
}
.goods .hd h2 span{
    margin-left: 34px;
    font-size: 16px;
    color: #999;
}

.goods .hd a,.shengxian .hd .more{
    float: right;
    color:#999;
    
}
.goods .hd a::after,
.shengxian .hd .more::after{
    content: '';
    margin-left: 13px;
    display: inline-block;
    width: 7px;
    height: 13px;
    /* background-color: green; */
    background-image: url(../images/sprites.png);
    background-position: 0 -110px;
    vertical-align: middle;
}
.goods .bd li{
    position: relative;
    float: left;
    width: 304px;
    height: 405px;
    background-color: #f0f9f4;
    margin-right: 8px;
    text-align: center;
}
.goods .bd li:last-child{
    margin-right: 0;
}
.goods .bd li img{
    width: 304px;
}
.goods .bd li h3{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;  
}
.goods .bd li div{
    color: red;
    font-size: 17px;
}
.goods .bd li div span{
    font-size: 23px;
}
.goods .bd li b{
    position: absolute;
    left: 17px;
    top: 18px;
    width: 28px;
    height: 51px;
    border: 1px solid #27ba9b;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 400;
    color: #27ba9b;
    line-height: 24px;
}
.shengxian .hd{
    height: 96px;
    line-height: 96px;
    /* background-color: pink; */
}
.shengxian .hd h2{
    float: left;
    font-size: 29px;
    font-weight: 400;
}
.shengxian .hd .more{
    float: right;
}
.shengxian .hd ul{
    float: right;
    margin-right: 65px;
}
.shengxian .hd ul li{
    float: right;
}
.shengxian .hd ul li a{
    padding:2px 7px;
    margin-left: 6px;

}
.shengxian .hd ul li a:hover{
    background-color: #27ba9b;
    color: #fff;
}
.shengxian .bd .left{
    float: left;
    width: 242px;
    height: 610px;
    background-color: pink;
    background-image: url(../uploads/fresh_goods_cover.png);
}
.shengxian .bd .right{
    float: right;
    width: 998px;
    height: 610px;
    /* background-color: skyblue; */
}
.shengxian .bd .right ul li{
    float: left;
    width: 242px;
    height: 304px;
    margin-right: 8px;
    text-align: center;
}
.shengxian .bd .right ul li img{
    width: 184px;
    margin-top: 8px;
    margin-bottom: 12px;
}
.shengxian .bd .right ul li p{
    display: inline-block;
    width: 166px;
    height: 87px;
}
.shengxian .bd .right ul li:nth-child(4n){
    margin-right: 0;
}